h2 {
  font-size: 20px;
  color: #122112;
}

h3 {
  font-size: 17px;
  color: #122112;
}

.mini {
  display: none;
}

p {
  font-size: 16px;
  color: #272727;
}

.wrapper {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  justify-content: center;
  margin: 60px 140px 30px;
}

.wrapper a {
  margin: 0 0 40px;
}

.card {
  border-radius: 4px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  padding: 14px;
  background-color: white;
}

.card:hover .growy, .card:hover .mixmag, .card:hover .music, .card:hover .cross, .card:hover .suitup, .card:hover .welearn, .card:hover .skate, .card:hover .icons, .card:hover p, .card:hover h3 {
  opacity: 0.7;
}

.growy, .mixmag, .music, .cross, .suitup, .welearn, .skate {
  background-size: cover;
  height: 320px;
}

.growy {
  background-image: url(../images/growy.png);
}

.mixmag {
  background-image: url(../images/mixmag.png);
}

.music {
  background-image: url(../images/musiccard.png);
}

.cross {
  background-image: url(../images/booking.png);
  background-position: center;
}

.suitup {
  background-image: url(../images/suitup.png);
}

.welearn {
  background-image: url(../images/welearn.png);
}

.skate {
  background-image: url(../images/skate.png);
}

.music, .welearn, .skate {
  background-position: center;
}

.card h3 {
  margin-top: 28px;
}

.card p {
  font-size: 14px;
  margin-top: 16px;
}

.icons {
  margin-top: 14px;
  display: flex;
}

.icons img {
  width: auto;
  max-height: 50px;
}

.icon {
  width: auto;
  height: 50px;
}

.icon:nth-child(2), .icon:nth-child(3), .icon:nth-child(4) {
  margin-left: 20px;
}

.small {
  display: none;
}
