h2 {
  font-size: 20px;
  color: #122112;
}

h3 {
  font-size: 18px;
  color: #122112;
}

p {
  font-size: 16px;
  color: #272727;
}

.wrapper {
  position: relative;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  height: 584px;
}

.card {
  border-radius: 4px;
  width: auto;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
}

.card:hover .growy,.card:hover .mixmag,.card:hover .music,.card:hover .wix, .card:hover .icons, .card:hover p, .card:hover h3 {
  opacity: 0.7;
}

/*testing other card's behavior with portfoli2 html file*/
.card img {
  width: 100%;
  margin-bottom: 20px;
}

.growy, .mixmag, .music, .wix {
  background-size: cover;
  width: 580px;
  height: 340px;
  margin-bottom: 20px;
}

.growy {
  background-image: url(../images/growy.png);
}

.mixmag {
  background-image: url(../images/mixmag.png);
}

.music {
  background-image: url(../images/musiccard.png);
}

.wix {
  background-image: url(../images/wix.png);
}

.music, .wix {
  background-position: center;
}

.icons img {
  width: auto;
  max-height: 50px;
}

.card h3 {
  margin-top: 28px;
}

.card p {
  font-size: 14px;
  margin-top: 16px;
}

.icons {
  margin-top: 14px;
  display: flex;
}

.icon {
  width: auto;
  height: 50px;
}

.icon:nth-child(2), .icon:nth-child(3) {
  margin-left: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.arrow:hover {
  cursor: pointer;
}

.back {
  left: 60px;
}

.line, .line2 {
  position: relative;
  background-color: #122112;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 3px;
}

.line::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  top: 11px;
  left: -3px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #122112;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.line::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  top: -11px;
  left: -3px;
  transform: rotate(-45deg);
  position: absolute;
  background-color: #122112;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.forward {
  right: 60px;
}

.line2::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  top: 11px;
  right: -3px;
  transform: rotate(-45deg);
  position: absolute;
  background-color: #122112;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.line2::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  top: -11px;
  right: -3px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #122112;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#side1{
  position: absolute;
  transform: translateX(0px) scale(1.2);
  z-index: 99;
  transition: all .5s;
}
#side2{
  position: absolute;
  transform: translateX(-160px);
  z-index: 9;
  transition: all .5s;
}
#side3{
  position: absolute;
  transform: translateX(160px);
  z-index: 9;
  transition: all .5s;
}
#side4{
  position: absolute;
  transform: translateX(0px);
  z-index: 9;
  transition: all .5s;
}

.small {
  display: none;
}

#swype1, #swype2, #swype3, #swype4 {
  display: none;
}

/* #swype1{
  position: absolute;
  transform: translateX(0px) scale(1.2);
  z-index: 99;
  transition: all .5s;
}
#swype2{
  position: absolute;
  transform: translateX(-160px);
  z-index: 9;
  transition: all .5s;
}
#swype3{
  position: absolute;
  transform: translateX(160px);
  z-index: 9;
  transition: all .5s;
}
#swype4{
  position: absolute;
  transform: translateX(0px);
  z-index: 9;
  transition: all .5s;
} */
