.project {
  margin-top: 60px;
}

.text p {
  width: 600px;
  margin: 20px 0;
}

mark {
  background-color: #f5f3f3;
}

.text a {
  text-decoration: underline;
}

.shot img {
  width: 100%;
}

.shot {
  margin: 50px 0 20px 0;
}

a .shot:hover {
  opacity: 0.7;
}

.icontext {
  text-align: right;
}

.project .icons {
  justify-content: flex-end;
}

.ups-wrap {
  position: absolute;
  width: 140px;
  left: 0;
}

.up {
  display: none;
  opacity: 0.2;
}

.up:hover {
  opacity: 1;
}

.circle {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.line3 {
  margin: auto;
  position: relative;
  background-color: #122112;
  width: 31px;
  height: 3px;
  transform: rotate(90deg);
}

.line3::before {
  content: "";
  display: block;
  width: 18px;
  height: 3px;
  top: 6px;
  left: -2px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #122112;
}

.line3::after {
  content: "";
  display: block;
  width: 18px;
  height: 3px;
  top: -6px;
  left: -2px;
  transform: rotate(-45deg);
  position: absolute;
  background-color: #122112;
}
