.wrap {
  margin: 60px 140px;
}

.img {
  width: 100%;
  height: 420px;
  background-image: url(../images/resume.jpg);
  background-size: cover;
}

.wrap h1 {
  font-size: 26px;
  text-align: center;
}

.content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.small {
  display: none;
}

.about {
  margin-top: 80px;
  padding: 0 0 30px 30px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  text-align: center;
}

.left {
  margin-top: 30px;
  text-align: left;
}

.center {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.about i, .job i {
  font-size: 60px;
}

.job {
  width: 680px;
  margin-top: 80px;
  padding: 30px 30px 0 0;
  display: flex;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.job p {
  margin-left: 30px;
}

.smile {
  right: -100px;
  position: relative;
  top: 120px;
}

.note {
  display: none;
}

@media screen and (max-width: 1180px) {
  .wrap {
    margin: 60px 60px;
  }

  .wrapper {
    grid-gap: 36px;
    margin: 60px 60px 30px;
  }

  .smile {
    display: none;
  }

  .about {
    margin: 0 10px;
    padding: 20px;
    border: 3px solid black;
  }

  .about i, .job i {
    font-size: 40px;
  }

  .left, .job p {
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
  }

  .job {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
  }

  .arrow {
    top: -60px;
  }
}

@media screen and (max-width: 840px) {

  .wrap {
    margin: 40px 0;
  }

  .project {
    margin: 30px 0;
  }

  .text {
    margin: 10px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .text p {
    width: 100%;
    margin: 10px 0;
  }

  .shot {
    margin: 30px 0 0 0;
  }

  .icontext {
    margin: 10px 6px 0;
  }

  .icons img {
    max-height: 30px;
  }

  .icon:nth-child(2), .icon:nth-child(3), .icon:nth-child(4) {
    margin-left: 0;
  }

  .icons {
    margin: 0 10px 0 0;
  }

  .wrapper a {
    margin: 0;
  }

  .card {
    padding: 8px;
  }

  .card h3 {
    margin-top: 10px;
    font-size: 12px;
  }

  .card p {
    margin-top: 8px;
    font-size: 10px;
  }

  .icons {
    margin: 0;
  }

  .icon {
    margin: 6px 6px 0 0;
    height: 30px;
  }

  .img {
    height: 220px;
  }

  .wrap h1 {
    margin-top: 30px;
    font-size: 18px;
  }

  .content {
    display: block;
    margin-top: 20px;
  }

  .about {
    width: 420px;
    margin: 0 auto 20px;
    border: 2px solid black;
  }

  .content p {
    font-size: 14px;
  }

  .job {
    width: 420px;
    border: 2px solid black;
  }

  .small {
    display: block;
  }

  .big {
    display: none;
  }

  .up {
    opacity: 0.2;
  }

  .up:hover {
    opacity: 0.2;
  }

  .circle {
    bottom: 90px;
    width: 30px;
    height: 30px;
    background-color: #122112;
  }

  .line3 {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
  }

  .line3::before {
    width: 12px;
    height: 2px;
    top: 4px;
    left: -2px;
    background-color: #ffffff;
  }

  .line3::after {
    width: 12px;
    height: 2px;
    top: -4px;
    left: -2px;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 480px) {

  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .growy, .mixmag, .music, .cross, .suitup {
    height: 180px;
  }

  .max {
    display: none;
  }

  .mini {
    display: block;
  }

  .about {
    width: auto;
    margin: 0 10px 20px;
  }

  .job {
    width: auto;
    margin: 0 10px;
  }

  .wrap h1 {
    margin: 30px 10px 0;
  }
}
