@import "header_x_footer.css";
@import "portfolio.css";
@import "project.css";
@import "resume.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: 'Open Sans', sans-serif;
}
